.home{
    padding-top: 70%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Evita que el padding o el border añadan tamaño extra */
}

/* Para asegurar que las imágenes normales ocupen el ancho total */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilo para contenedores que deben ocupar todo el ancho */
body, html, .main-container, #hero, #About-us, #events-news {
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    overflow-x: hidden; /* Evita scroll horizontal */
}

.button {
    font-size: 1.3em;
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0.5);
    box-shadow: 2px 2px 10px rgb(0, 0, 0.5);
    color: whitesmoke;
    background-color: #e81010;
    cursor: pointer;
    text-decoration: none;
}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
}

.button:hover span {
    padding-right: 25px;
    transition: 0.5s;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.button:hover {
    background-color: #323232;
    color: #e81010;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    color: whitesmoke;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.7),
        rgb(0, 0, 0, 0.7)
    ),
    url("/src/img/Cazuela-Dia-Cocina-Chilena-.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    overflow-y: hidden;
}

#hero h1 {
    margin-bottom: 10px; /* Ajusta este valor para reducir el espacio */
    margin: 0;
    padding-top: 120px;
    font-size: 4em;
}

#hero h2 {
    margin-top: 20px;
    padding-bottom: 100px; /* Ajusta este valor para reducir el espacio */
    font-size: 2em;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%; 

}




#About-us{
    padding: 2rem;
    color: whitesmoke;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        rgb(0, 0, 0, 0.6)
    ),
    url("/src/img/Cocineros.jpg");
    background-repeat: no-repeat;
    background-size: cover; 

}

.Au-section{
    text-align: center;
    margin-bottom: 2rem;
}

.AboutUs-Container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.Card{

    background-color: #202020;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 400px;
    text-align: justify;
}

#events-news{
    padding: 2rem;
    background-color: #323232;
    color: whitesmoke;
}

.news-section {
    text-align: center;
    margin-bottom: 2rem;
}

.news-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.news-item {
    background-color: #202020;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
}

.news-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.news-item h3 {
    margin-top: 15px;
    font-size: 1.5em;
    color: #e81010;
}

.news-item p {
    margin-top: 10px;
    font-size: 1em;
}


#Adm_reserva {
    padding-top: 20px;
    justify-content: center;
    display: flex;
    gap:20px
}

li{
    list-style: none;
}