.menu-buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
    /* Eliminado el margen superior */
}

.menu-section {
    padding: 20px; /* Espaciado general */
    /* Si necesitas más espacio en la parte superior, añade aquí padding-top */
}

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 400px; /* Establecer un alto máximo */
    padding: 20px; /* Espaciado interior */
    width: 700px;

}

/* Los otros estilos existentes */
.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #746743;
    padding: 20px 0;
    margin-bottom: 20px;
    
}
/* Si tienes elementos de texto específicos, asegúrate de que tengan el siguiente estilo */
.menuItem .menuName, /* Suponiendo que tus nombres de platos tengan esta clase */
.menuItem .menuDescription { 
    text-align: left; /* Alinea el texto a la izquierda */
    margin-right: 20px; /* Agrega un margen a la derecha si necesitas separación */
}
/* Estilos para la sección de descarga */

.downloadMenu-container{
    padding-top: 10px;
    
}
.downloadMenu {
    padding: 10px 20px;
    background-color: #e81010;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s ease;
    margin-left: auto; /* Alínea el botón a la derecha */
    width: 100%; /* Reduce el ancho del botón */
}

.downloadMenu:hover {
    background-color: #d93636;
    color:#323232 ;
}